body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*---------------------------------------------------------*/
#contact-nav {
    position: absolute;
    right: 80px;
    right: 8rem;
    top: 7px;
    top: 0.7rem;
    width: auto;
    padding-left: 24px;
    padding-left: 2.4rem;
    padding-right: 24px;
    padding-right: 2.4rem;
    font-family: Gotham A,Gotham B,sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
}

.navbar-collapse ul li {
    z-index: 1;
    color: #FFF !important;
    font-family: Gotham A,Gotham B,sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-size: 1.8rem;
    text-decoration: none;
}

.navbar-collapse ul li ul {
    display: none;
    white-space: nowrap;
    padding: 15px 15px 0;
    padding: 1.5rem 1.5rem 0;
    position: absolute;
    left: 0;
    top: 41px;
    top: 4.1rem;
    background-color: rgba(155,155,155,.8);
}

.navbar-collapse ul li:hover ul {
    display: block;
}

.footer-container {
    background: #75787b;
    color: #FFF;
}

.nav-footer--main ul li {
    font-family: Gotham A,Gotham B,sans-serif;
    font-weight: 700;
    float: left;
    width: calc(100%/6);
    font-size: 12px;
    font-size: 1.2rem;
    color: #FFF;
}

.nav-footer--main ul li ul li {
    width: 100%;
    margin-bottom: 13px;
    margin-bottom: 1.3rem;
    font-family: Gotham A,Gotham B,sans-serif;
    font-weight: 400;
    color: #fff;
    display: block;
    float: none;
}

.footer-copyright {
    font-family: Gotham A,Gotham B,sans-serif;
    font-weight: 700;
    color: #FFF;
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 30px;
    margin-bottom: 3rem;
    display: inline-block;
}

#home-welcome {
    width: 100%;
    max-height: 730px;
    max-height: 73rem;
    height: 80vh;
    background-color: #4a4a4a;
    position: relative;
}

.img-hero, .movie-hero, .js-carousel-hero {
    width: 100%;
    height: 100%;
}

.img-hero:not(.js-carousel-hero), .movie-hero:not(.js-carousel-hero), .js-carousel-hero:not(.js-carousel-hero) {
    position: absolute;
}

#home-welcome .grid-container {
    position: relative;
    height: 100%;
    margin-top: -20px; 
}

.movie-hero iframe {
    border: none;
    width: 100%;
    height: 100%;
}

#home-welcome #home-welcome-message {
    position: relative;
    top: 45%;
    left: 0;
    text-align: center;
}

#home-welcome #home-welcome-message h1 {
    font-family: Gotham A,Gotham B,sans-serif;
    font-weight: 300;
    font-size: 64px;
    font-size: 6.4rem;
    line-height: 60px;
    line-height: 6rem;
    margin-bottom: 40px;
    margin-bottom: 4rem;
    color: #FFF;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    text-shadow: 0 0.2rem 0.4rem rgba(0,0,0,.5);
}

.button {
    display: inline-block;
    position: relative;
    margin: 0 4px;
    margin: 0 .4rem;
    font-family: Gotham A,Gotham B,sans-serif;
    font-weight: 400;
    color: #FFF;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 36px;
    line-height: 3.6rem;
    height: 36px;
    height: 3.6rem;
    width: 170px;
    width: 17rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
    background-color: rgba(255,255,255,.4);
    -webkit-transition: all .2s;
    transition: all .2s;
}

#home-welcome #home-welcome-message .button {
    text-align: center;
    padding: 0;
}

.button.blue {
    background-color: rgba(52,101,127,.8);
}

.button:visited {
    color: #FFF;
}

header:not(.nav) h2:not(.override), header:not(.nav) h3:not(.override) {
    font-family: Gotham A,Gotham B,sans-serif;
    font-weight: 400;
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 34px;
    line-height: 3.4rem;
    color: #34657f;
    text-align: center;
    margin-bottom: 20px;
    margin-bottom: 2rem;
}

.grid-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#home-new {
    background-color: #8cc3da;
    color: white;
    text-align: center;
    padding-bottom: 40px;
    padding-bottom: 4rem;
}

#home-why {
    background-color: #d4e1e5;
    text-align: center;
    padding-bottom: 80px;
    padding-bottom: 8rem;
}