<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="" />
    <title>Alisal Glass - The World’s Most Intelligent Windows</title>
    @*<meta name="description" content="View Dynamic Glass offers intelligent, electrochromic windows that automatically tint to maximize natural light, reduce heat and glare, and provide unobstructed views. " />
    <link rel="stylesheet" href="assets/stylesheets/application.minf7b3.css?v=1525812708661480389" />
    <script src="../use.fontawesome.com/dc6cf7ce35.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/fonts/614459/B03B791618E23F0B0.css" />
    <link href="bower_components/fancybox/dist/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="bower_components/tippyjs/dist/tippy.css" rel="stylesheet" />
    <link rel="canonical" href="index.html" />
    <link rel="alternate" type="application/rss+xml" title="View" href="blog/feed/rss/index.html" />
    <script data-cfasync="false" type="text/javascript" src="../cdn.bizible.com/scripts/bizible.js" async=""></script>*@

    @Styles.Render("~/Content/css")
</head>
<body>
    <header class="nav ">
        <nav>
            <div class="grid-container">
                <div class="nav-logo">
                    <a href="" class="cc-active"><img src="assets/img/svg/logo/view-logo.svg" alt="VIEW | Dynamic Glass" /></a>
                </div>
                <ul class="nav-main">
                    <li>
                        <a class="sub" href="product/">Product</a>
                        <ul>
                            <li><a href="product/index.html">Overview</a></li>
                            <li><a href="product/health-wellness.html">Health & Wellness</a></li>
                            <li><a href="product/how-it-works/index.html">How it works</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="company/index.html">Company</a>
                        <ul>
                            <li><a href="company/index.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </li>
                    <li id="contact-mobile"> <a href="contact/index.html">Contact</a> </li>
                </ul>
                <a href="contact.html" class="button" id="contact-nav">Contact</a>
            </div>
        </nav>
    </header>

    @*<noscript><iframe src="http://www.googletagmanager.com/ns.html?id=GTM-KXNG2X" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-KXNG2X');</script>*@

    <div>
        @RenderBody()
        <hr />
        <footer class="footer-container">
            <div class="grid-container">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li>
                            <a href="index.html" class="cc-active"><img src="assets/img/svg/logo/view-logo-small.svg" alt="Alisal" /></a>
                        </li>
                        <li></li>
                    </ul>
                </nav>
                <nav role="navigation" class="nav-footer--main">
                    <ul>
                        <li>
                            <a href="product/index.html">Product</a>
                            <ul>
                                <li><a href="product/index.html">Overview</a></li>
                                <li><a href="product/health-wellness.html">Health & Wellness</a></li>
                                <li><a href="product/how-it-works/index.html">How it works</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="company/index.html">Company</a>
                            <ul>
                                <li><a href="company/index.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="footer-contact">
                                <a href="contact/index.html">Contact Us</a>
                                <br />
                                <br />
                                <span class="fa fa-phone"></span>
                                <a href="tel:+84123456789">+84123456789</a>
                                <br />
                                <br />
                                <a href="blog/index.html">Blog</a>
                            </div>
                            <ul class="footer-socials">
                                <li>
                                    <a class="nav-social-icon-container" href="https://www.facebook.com/Viewglass" target="_blank"> <svg viewbox="0 0 27 27" xmlns="http://www.w3.org/2000/svg"><title>Facebook</title><g fill="none" fill-rule="evenodd"><g class="nav-social-icon-fill"><g><path d="M26.907 13.5c0 7.456-6.024 13.5-13.454 13.5C6.023 27 0 20.956 0 13.5S6.023 0 13.453 0s13.454 6.044 13.454 13.5zm-12.644 0h1.45l.193-1.82h-1.643l.002-.91c0-.473.045-.727.724-.727h.906V8.225h-1.452c-1.743 0-2.357.882-2.357 2.365v1.09H11v1.82h1.087v5.276h2.176V13.5z" /></g></g></g></svg> </a>
                                </li>
                                <li>
                                    <a class="nav-social-icon-container" href="https://twitter.com/viewglass" target="_blank"> <svg class="nav-social-icon" viewbox="0 0 27 27" xmlns="http://www.w3.org/2000/svg"><title>Twitter</title><g fill="none" fill-rule="evenodd"><g class="nav-social-icon-fill"><g><path d="M26.907 13.5c0 7.456-6.024 13.5-13.454 13.5C6.023 27 0 20.956 0 13.5S6.023 0 13.453 0s13.454 6.044 13.454 13.5zm-7.25-3.59c-.423.188-.88.316-1.358.373.488-.294.864-.76 1.04-1.314-.457.27-.964.47-1.503.575-.432-.462-1.047-.75-1.728-.75-1.31 0-2.37 1.064-2.37 2.376 0 .187.022.368.062.542-1.967-.1-3.71-1.045-4.88-2.482-.202.35-.32.758-.32 1.194 0 .825.418 1.55 1.054 1.977-.388-.01-.753-.118-1.072-.296v.03c0 1.15.815 2.11 1.898 2.33-.198.054-.408.083-.623.083-.154 0-.302-.015-.446-.043.3.944 1.175 1.63 2.21 1.65-.81.637-1.83 1.017-2.94 1.017-.19 0-.38-.01-.564-.033 1.048.674 2.292 1.068 3.63 1.068 4.353 0 6.734-3.62 6.734-6.76 0-.102-.002-.205-.007-.307.463-.334.864-.753 1.18-1.23z" /></g></g></g></svg> </a>
                                </li>
                                <li>
                                    <a class="nav-social-icon-container" href="https://www.youtube.com/channel/UC7-HeDBpXg0J7E1V1CoguEQ" target="_blank"> <svg class="nav-social-icon" viewbox="0 0 27 27" xmlns="http://www.w3.org/2000/svg"><title>YouTube</title><g fill="none" fill-rule="evenodd"><g class="nav-social-icon-fill"><g><g><path d="M3.95 3.95C1.317 6.583 0 9.767 0 13.5c0 3.733 1.317 6.917 3.95 9.55 2.6 2.633 5.767 3.95 9.5 3.95 3.7 0 6.867-1.317 9.5-3.95s3.95-5.817 3.95-9.55c0-3.733-1.317-6.917-3.95-9.55C20.317 1.317 17.15 0 13.45 0c-3.733 0-6.9 1.317-9.5 3.95m4 4.95l.6-.1h9.75l.6.1c.333.1.6.267.8.5.2.133.35.417.45.85l.2 1.2v4.15l-.1.7v.15l-.1.35c-.1.367-.25.65-.45.85-.2.233-.467.4-.8.5l-.6.1H8.7l-.7-.1c-.4-.1-.683-.267-.85-.5-.2-.2-.35-.483-.45-.85l-.1-.35v-.15l-.1-.7v-4.15l.2-1.2c.1-.433.25-.717.45-.85.167-.2.433-.367.8-.5M12 11.45v3.85l3.75-1.9L12 11.45" /></g></g></g></g></svg> </a>
                                </li>
                                <li>
                                    <a class="nav-social-icon-container" href="https://www.linkedin.com/company/903580" target="_blank"> <svg class="nav-social-icon" viewbox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><title>Linkedin</title><g fill="none" fill-rule="evenodd"><g class="nav-social-icon-fill"><g><path d="M14.654 12.108l.016-.023v.023h-.016zM28 14c0 7.732-6.268 14-14 14S0 21.732 0 14 6.268 0 14 0s14 6.268 14 14zM8.56 18.265h2.39v-7.2H8.56v7.2zm2.55-9.428c-.016-.706-.52-1.244-1.34-1.244-.818 0-1.353.538-1.353 1.244 0 .692.52 1.245 1.322 1.245h.015c.835 0 1.354-.553 1.354-1.245zm8.473 5.3c0-2.213-1.182-3.24-2.757-3.24-1.27 0-1.838.697-2.156 1.188v-1.02h-2.394c.032.675 0 7.2 0 7.2h2.394v-4.02c0-.216.014-.432.08-.585.172-.43.565-.876 1.226-.876.867 0 1.213.66 1.213 1.63v3.85h2.393v-4.127z" /></g></g></g></svg> </a>
                                </li>
                                <li>
                                    <a class="nav-social-icon-container" href="https://www.instagram.com/viewglass/" target="_blank"> <svg class="nav-social-icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 792 784.09337"><title>Instagram</title><g fill="none" fill-rule="evenodd"><g class="nav-social-icon-fill"><g><path class="cls-1" d="M330.07,401.57669c-0.16-35.8,29.13-65.25995,65.11-65.44a65.3845,65.3845,0,0,1,65.71,65.2c0.17,35.85-29.06,65.27-65.05,65.44A65.48717,65.48717,0,0,1,330.07,401.57669Z" /><path class="cls-1" d="M496.73,376.09671h29.03v4.61q0,63.78,0,127.57c-0.01,14.96-8.66,23.55-23.75,23.55-71.06.01-142.12-.1-213.17,0.1-13.69.04-23.84-9.52-23.7-23.83,0.39-42.52.14-85.04,0.14-127.56v-4.41h28.93c-7.8,38.18.7,71.87,28.47,99.56,21.04,20.98,47.03,30.99,76.71,29.77,32.82-1.34,59.49-15.46,79.33-41.67C498.53,437.62673,503.48,408.11673,496.73,376.09671Z" /><path class="cls-1" d="M525.75,304.43673c-0.01,3.96.07,7.91-.02,11.87a21.0772,21.0772,0,0,1-20.54,20.67q-12.075.285-24.15,0a21.14,21.14,0,0,1-20.58-20.67q-0.24005-11.85-.01-23.72a21.06166,21.06166,0,0,1,20.8-20.85q11.85-.21,23.72,0a21.00515,21.00515,0,0,1,20.76,20.84C525.82,296.5267,525.75,300.48672,525.75,304.43673Z" /><path class="cls-1" d="M396,21.88668c-204.43,0-370.16,165.72-370.16,370.16,0,204.43,165.73,370.16,370.16,370.16s370.16-165.73,370.16-370.16C766.16,187.60672,600.43,21.88668,396,21.88668Zm169.51,479.81c-0.04,39.72-29.7,69.22-69.51,69.29q-50.22.09-100.44,0.01c-33.48,0-66.96.1-100.44-.03-33.43-.12-60.7-22.26-67.25-54.56a75.6584,75.6584,0,0,1-1.36-14.72q-0.135-100.23-.04-200.47c0.03-33.82,21.93005-61.16,54.37006-67.82a76.06925,76.06925,0,0,1,15.14-1.42q100.02-.135,200.04-0.04c39.8,0.03,69.45,29.56995,69.49,69.3Q565.63,401.46673,565.51,501.69668Z" /></g></g></g></svg> </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <span class="footer-copyright">&copy; Copyright 2018 Alisal Glass. All Rights Reserved.</span>
                <ul class="footer-legal">
                    <li><a href="privacy/index.html">Privacy Policy</a></li>
                </ul>
            </div>
        </footer>
        @*<script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/slick.js/slick/slick.min.js"></script>
        <script src="bower_components/nouislider/distribute/jquery.nouislider.min.js"></script>
        <script src="bower_components/isotope/dist/isotope.pkgd.min.js"></script>
        <script src="assets/js/libs/jekyll-search.jquery.min.js"></script>
        <script src="bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/libs/modernizr.custom.min.js"></script>
        <script src="assets/js/libs/classie.min.js"></script>
        <script src="assets/js/libs/AnimOnScroll.min.js"></script>
        <script src="assets/js/libs/jquery.visible.min.js"></script>
        <script src="assets/js/libs/forms2.min.js"></script>
        <script src="assets/js/libs/jquery.scrollTo.min.js"></script>
        <script src="assets/js/libs/skrollr.min.js"></script>
        <script src="bower_components/fancybox/dist/jquery.fancybox.min.js"></script>
        <script src="assets/js/app-bundle.minf7b3.js?v=1525812708661480389"></script>
        <script src="bower_components/tippyjs/dist/tippy.min.js"></script>*@
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
<script>

</script>
