<!DOCTYPE html>
<html>
<body id="top">
    <main data-cms-content-wrapper="/_layouts/default.html">
        <section id="home-welcome">
            <div class="movie-hero">  <iframe src="http://play.vidyard.com/R8KJBcNrrjiBAiPmMUiDgY/type/background?preview=1"></iframe> </div>
            <div class="grid-container">
                <div id="home-welcome-message">
                    <h1>The world’s most intelligent window.</h1>
                    <a href="product/index.html" class="button primary blue">Learn More</a>
                </div>
            </div>
        </section>
        <section id="home-leading-orgs">
            <header>
                <h2>Leading organizations choose View.</h2>
            </header>
            <div class="grid-container">
                <div id="home-leading-logo">
                    <img src="assets/img/home/leading-orgs/logos/bd.png" alt="BD Logo" />
                    <img src="assets/img/home/leading-orgs/logos/hines.png" alt="Hines Logo" />
                    <img src="assets/img/home/leading-orgs/logos/sfo.png" alt="San Francisco International Airport Logo" />
                    <img src="assets/img/home/leading-orgs/logos/delta.png" alt="Delta Logo" />
                    <img src="assets/img/home/leading-orgs/logos/SMU-Logo.png" alt="SMU Logo" />
                    <img src="assets/img/home/leading-orgs/logos/kaiser.png" alt="Kaiser Permanente Logo" />
                </div>
            </div>
        </section>
        <section id="home-new">
            <div class="grid-container">
                <header>
                    <h2>What's New</h2>
                </header>
            </div>
            <div class="grid-container">
                <div class="grid-large-column-3 no-expand">
                    <a href="blog/new-research-airport-passenger-experience/index.html">
                        <div class="image"> <img src="assets/img/home/new/view_glass-DFW_400x230.jpg" alt="Dynamic Glass and Airport Experience" /> </div> Dynamic Glass at DFW Airport
                    </a>
                </div>
                <div class="grid-large-column-3 no-expand">
                    <a href="videos/mcguire-hester/index.html">
                        <div class="image"> <img src="assets/img/home/new/mcguire-hester.jpg" alt="McGuire and Hester" /> </div> McGuire &amp; Hester Enjoy Their View
                    </a>
                </div>
                <div class="grid-large-column-3 no-expand">
                    <a href="blog/opening-door-research-dynamic-glass-workplace/index.html">
                        <div class="image"> <img src="assets/img/home/new/home-new-research1.png" srcset="/assets/img/home/new/home-new-research1.png" alt="Daylight and Workplace Study" /> </div> Daylight &amp; The Workplace Study
                    </a>
                </div>
            </div>
        </section>
        <section id="home-why">
            <div class="grid-container">
                <header>
                    <h2>Why View Dynamic Glass?</h2>
                </header>
            </div>
            <div class="grid-container">
                <div class="grid-large-quarter">
                    <img src="assets/img/home/why/boost-productivity.svg" />
                    <h3>Boost<br />Productivity</h3>
                    <p>Increase productivity up to 15% while reducing absences</p>
                    <a href="solutions/project-role/occupant.html" class="primary button blue link">Learn More</a>
                </div>
                <div class="grid-large-quarter">
                    <img src="assets/img/home/why/get-view-back.svg" />
                    <h3>Get Your<br />View Back</h3>
                    <p>Connect to nature while staying cool and comfortable</p>
                    <a href="product/index.html" class="primary button blue link">Learn More</a>
                </div>
                <div class="grid-large-quarter">
                    <img src="assets/img/home/why/increased-value.svg" />
                    <h3>Increase<br />Value</h3>
                    <p>Attract tenants faster, command higher rents, increase building value</p>
                    <a href="solutions/project-role/developer.html" class="primary button blue link">Learn More</a>
                </div>
                <div class="grid-large-quarter">
                    <img src="assets/img/home/why/saving-energy.svg" />
                    <h3>Save<br />Energy</h3>
                    <p>Reduce lighting and HVAC electricity use by up to 20%</p>
                    <a href="product/index.html#energy_efficiency" class="primary button blue link">Learn More</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
